.item-wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.item-wrap .item-block {
    width: 50%;
    margin: 0 10px;
    padding: 15px;
    border: solid 1px #cccccc;
    border-radius: 6px;
}

.item {
    background: #eaeaea;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 6px;
    position: relative;
}

.cart-wrap .add {
    height: 35px;
    min-width: 150px;
    background: green;
    cursor: pointer;
    border-radius: 6px;
    ;
    border: none;
    color: #ffffff;
    font-size: 14px;
    ;
}

.cart-wrap .removeItem {
    height: 35px;
    min-width: 150px;
    background: red;
    cursor: pointer;
    border-radius: 6px;
    ;
    border: none;
    color: #ffffff;
    font-size: 14px;
    ;
}

#cartItems .itemDetails {
    border-bottom: solid 1px #cccccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.overflow .add {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    cursor: pointer;
    font-size: 34px;
    background: green;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 5px;
    border-radius: 6px;
}

.item-detail h4 {
    margin: 0;
    font-size: 20px;
}

.item-detail .price {
    margin: 15px 0 0 0;
    font-size: 23px;
    /* color: #02aa3c; */
    font-weight: 700;
}

.item-detail .price:before {
    content: "$";
    left: 0;
    top: 0;
    position: relative;
}

.heading h1 {
    margin: 0 0 15px 0;

}

ol#list-item {
    padding-left: 0;
}

ol#list-item li {
    padding: 8px 10px;
    margin-bottom: 10px;
    background: lightblue;
    border-radius: 6px;
    display: flex;
    align-items: center;
    position: relative;
}

ol#list-item li .remove {
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
}

#cart-items .total-text {
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

#cart-items .total-text span {
    font-weight: 700;
}